<div class="row clearfix">
	<% if todo_item.completed? %>
		<div class="complete">
			<%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
				<i style="opacity: 0.35;" class="fa fa-check"></i>
			<% end %>
		</div><!-- End of complete -->
		<div class="todo_item">
			<h4 style="opacity: 0.35;"><strike><%= todo_item.content %></strike></h4>
		</div><!-- End of todo_item class -->
		
		<div class="trash">
			<%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div><!-- End of trash class -->
	<% else %>
		<div class="complete">
			<%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
				<i class="fa fa-check"></i>
			<% end %>
		</div><!-- End of complete -->
		<div class="todo_item">
			<h4><%= todo_item.content %></p>
			<p><%= todo_item.description %></p>
		</div><!-- End of todo_item class -->
		
		<div class="trash">
			<%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div><!-- End of trash class -->
	<% end %>
</div><!-- class="row clearfix -->